In [82]:
import requests
import defs
import pandas as pd

In [83]:
session = requests.Session()

In [84]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instrument"

In [85]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-004-21205389-001/instrument'

In [86]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)
response.status_code

404

In [87]:
data = response.json()

In [88]:
data.keys()

dict_keys(['errorMessage', 'errorCode'])

In [89]:
instruments = data['instruments']

KeyError: 'instruments'

In [ ]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [ ]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [ ]:
for item in instrument_data[:3]:
    print(item)

{'name': 'EUR_HUF', 'type': 'CURRENCY', 'displayName': 'EUR/HUF', 'pipLocation': -2, 'marginRate': '0.05'}
{'name': 'FR40_EUR', 'type': 'CFD', 'displayName': 'France 40', 'pipLocation': 0, 'marginRate': '0.05'}
{'name': 'EUR_DKK', 'type': 'CURRENCY', 'displayName': 'EUR/DKK', 'pipLocation': -4, 'marginRate': '0.1'}

In [ ]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [ ]:
instrument_df

           name      type     displayName  pipLocation marginRate
0       EUR_HUF  CURRENCY         EUR/HUF           -2       0.05
1      FR40_EUR       CFD       France 40            0       0.05
2       EUR_DKK  CURRENCY         EUR/DKK           -4        0.1
3       XAU_CHF     METAL        Gold/CHF           -2       0.05
4       XPD_USD       CFD       Palladium           -2       0.10
..          ...       ...             ...          ...        ...
121  CHINAH_HKD       CFD  China H Shares            0        0.1
122    CH20_CHF       CFD  Switzerland 20            0        0.1
123     CAD_HKD  CURRENCY         CAD/HKD           -4        0.1
124    US30_USD       CFD   US Wall St 30            0       0.05
125     GBP_CAD  CURRENCY         GBP/CAD           -4     0.0333

[126 rows x 5 columns]

In [ ]:
instrument_df.to_pickle("instruments.pkl")

In [ ]:
new_table = pd.read_pickle("instruments.pkl")

In [ ]:
new_table

           name      type     displayName  pipLocation marginRate
0       EUR_HUF  CURRENCY         EUR/HUF           -2       0.05
1      FR40_EUR       CFD       France 40            0       0.05
2       EUR_DKK  CURRENCY         EUR/DKK           -4        0.1
3       XAU_CHF     METAL        Gold/CHF           -2       0.05
4       XPD_USD       CFD       Palladium           -2       0.10
..          ...       ...             ...          ...        ...
121  CHINAH_HKD       CFD  China H Shares            0        0.1
122    CH20_CHF       CFD  Switzerland 20            0        0.1
123     CAD_HKD  CURRENCY         CAD/HKD           -4        0.1
124    US30_USD       CFD   US Wall St 30            0       0.05
125     GBP_CAD  CURRENCY         GBP/CAD           -4     0.0333

[126 rows x 5 columns]